<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block title %}Bus list{% endblock  %}
{% block link %}{% endblock  %}
{% block content %}


    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">

        <!-- Menu -->

        
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <!-- Content -->
{% comment %}           
          {% for message in messages %}
          {% if message.tags == 'info' %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
          {% else %}
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
          {% endif %}
          {% endfor %}  {% endcomment %}
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Bus / List</span> </h4>

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Bus List</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class='text-center'>No</th>
                        <th class='text-center'>User Name</th>
                        <th class='text-center'>Bus Name</th>
                        <th class='text-center'>Root</th>
                        <th class='text-center'>Selected Seat</th>
                        <th class='text-center'>Total Seats</th>
                        <th class='text-center'>Fare</th>
                        <th class='text-center'>Arrival Time</th>
                        <th class='text-center'>Departure Time</th>
                        <th class='text-center'>Duration</th>
                        <th class='text-center'>Phone No</th>
                        <th class='text-center'>Address</th>
                        <th class='text-center'>Booking Time</th>

                      </tr>
                    </thead>
                     <tbody class="table-border-bottom-0">
                        {% for x in all_ticket %}
                      <tr>
                        <td class='text-center'>{{forloop.counter}}</td>
                        <td class='text-center'>{{x.user}}</td>
                        <td class='text-center'>{{x.bus}}</td>
                        <td class='text-center'>{{x.journey}}</td>
                        <td class='text-center'>{{x.slected_seat}}</td>
                        <td class='text-center'>{{x.seats}}</td>
                        <td class='text-center'>{{x.fare}}</td>
                        <td class='text-center'>{{x.arrival_time}}</td>
                        <td class='text-center'>{{x.departure_time}}</td>
                        <td class='text-center'>{{x.duration}}</td>
                        <td class='text-center'>{{x.phone}}</td>
                        <td class='text-center'>{{x.address}}</td>
                        <td class='text-center'>{{x.book_date_time}}</td>
                        {% comment %} <td >
                        {%if x.bus_status%}
                          <h4 style='color:green' class='text-center'>&#10003;</h4>
                        {%else%}
                          <h4 style='color:red' class='text-center'>&#x274C;</h4>
                        {%endif%}
                        </td >
                        <div class="dropdown">
                        <td class='text-center'>
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/core/bus_list_update/{{x.id}}/"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="/core/delete_bus/{{x.id}}/"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </td> {% endcomment %}
                        </div>

                      </tr>
                      {% endfor %}
                      
                    </tbody> 
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

             
              <!--/ Responsive Table -->
            </div>
        </div>
            <!-- / Content -->




 
{% endblock %}
