<!DOCTYPE html>
{% load static %}
{% block link %}{% endblock  %}
{% block content %}

<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  
  
    <meta name="description" content="" />
  
    <!-- Favicon -->
    
  
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
  
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
  
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <!-- Page CSS -->
  
    <!-- Helpers -->
    <script defer src="{% static 'assets/vendor/js/helpers.js' %}"></script>
  
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script defer src="{% static 'assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner" style="height: 300px; width: 500px; margin:auto;">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                 
                  </span>
                  <span class="app-brand-text demo text-body fw-bolder">BusBook</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Adventure starts here 🚀</h4>
              <p class="mb-4">Make your app management easy and fun!</p>
              {% for message in messages %}
                {% if message.tags == 'info' %}
                  <div class="alert alert-danger" role="alert">
                    {{message}}
                  </div>
                {% else %}
                  <div class="alert alert-success" role="alert">
                    {{message}}
                  </div>
                {% endif %}
              {% endfor %}  
              <form id="formAuthentication" class="mb-3"  action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="firstname">FirstName</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="text"
                      id="firstname"
                      class="form-control"
                      name="firstname"
                      placeholder="Enter Your FirstName Here"
                      aria-describedby="firstname"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="lastname">LastName</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="lastname"
                      id="lastname"
                      class="form-control"
                      name="lastname"
                      placeholder="Enter Your LastName Here"
                      aria-describedby="lastname"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">confirm password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="confirmpassword"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                  <div class="mb-3">
                    <label class="form-label" for="lastname">Select Role</label>
                    <select class="form-select" name="role" aria-label="Default select example">
              
                      <option value="staff" selected>Staff</option>
                      <option value="admin">Admin</option>
                    </select>
                  </div>
                <button class="btn btn-primary d-grid w-100">Sign up</button>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a href="/">
                  <span>Sign in instead</span>
                </a>
              </p>
              
            </div>
            
          </div>
          
          <!-- Register Card -->
        </div>
      </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->



<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script defer src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script defer src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script defer src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script defer src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script defer src="{% static 'assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script defer src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script defer src="{% static 'assets/js/main.js' %}"></script>

<!-- Page JS -->
<script defer src="{% static 'assets/js/dashboards-analytics.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% block script %}{% endblock  %}

    <!-- / Content -->
{% endblock %}
